$colors: (
  neutral: (
    100: #fff,
    150: #f1efef,
    200: #747B95,
    500: #323232,
    600: #333950,
    
  ),
  primary: (

    100: #59FE5C,
    200: #1A865B,
    250: #2CDA94,
    300: #09271B,
    400: #DE9832,
  
  ),
);