@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-weight: $fw-700;
  border: 0;
  padding: 0.8em 1.5rem;
  border-radius: 25px;
  transition: 275ms ease;
  background-color: clr(primary, 200);
  color: clr(neutral, 100);
  

  &[data-type="neutral"] {
    background-color: clr(neutral, 100);
    color:  clr(neutral, 200);
  }

  &[data-type="light"] {
    
  }

  &[data-type="thick-padding"]{
    padding: 1.1rem;
  }

  &:is(:hover, :focus) {
    // background: clr(neutral, 100);
    // color: clr(neutral, 900);
  }
}