@use "../abstracts" as *;

.navigation {
  
  
  &__inner-content {
    display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
  gap: 2rem;
  max-width: 70rem;
  justify-content: space-between;
  }
}



.list {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  list-style: none;
  

  &__link {
    color: clr(neutral,100);
    text-decoration: none;
  }
}

