@use "../abstracts" as *;

.services {
    // border: 2px solid black;
    &__content {
        
        display: flex;
        margin-top: 2rem;
        justify-content: center;
        gap: 4rem;
        padding: 1rem 1rem 0 1rem;

    }

    &__text-content {
        max-width: 50rem;
        margin-top: 1rem;
    //     // border: 1px solid rgb(201, 201, 201);
    }
}

.button.btn-active {
    transform: translateY(-50%)
}